*{
    padding: 0;
    margin: 0;
}
@keyframes myanimation{
    from{
        transform: translate(-200px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes animation2{
    from{
        opacity: 0;
        height: 0px;
    }
    to{
        opacity: 1;
        height: 73px;

    }
}
::selection{
    background-color: red;
    color:black;
}
body{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
}
.header .navigation{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 35px 0px;
}
.header .navigation .logo img{
    max-width:20%;
}
.header .navigation .links{
    right:0;
}
.header .navigation ul{
    
}
.header .navigation ul li{
    float: left;
    list-style: none;
}
.header .navigation ul li a{
    padding: 20px 20px;
    position: relative;
    font-size: 8pt;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    overflow: hidden;
    background-color: transparent;
    display: block;
}
.header .navigation ul li a:before{
    content: "";
    position: absolute;
    width: 25px;
    border-bottom:1px solid red;
    bottom: 14px;
    transition: 0.7s all;
    overflow: hidden; 
    transform: translate(-45px) ;
}
.header .navigation ul li a:hover::before{
    transition: 0.7s all;
    transform: translate(0) ;
}
/* .header::after{
    content: 'UI UX DESIGNER';
    position: absolute;
    top: 35%;
    left: 0%;
    font-size:12em;
    font-weight:800;
    font-style:italic;
    color: rgba(255, 255, 255, 0.04);
    line-height: 180px;
    width: 100vw;
} */
.header .headertitle{
    margin-top: 17%;
}
.header .headertitle::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 73px;
    background-color: red;
    top: 4.3%;
    left: 0%;
    animation: animation2 1.5s ease-in;
}
.header .headertitle h5{
    font-size: 35pt;
    font-weight: 700;
    color: #ffffff;
    animation: myanimation 0.6s ease-in;
    position: relative;
}
.header .headertitle h6{
    font-size: 15pt;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4);
    animation: myanimation 1.3s ease-in;
    transition-delay: 0.5s;

} 
.header .headreimg img{
    width: 100%;
}